:root {
  --brand-color:rgba(33, 33, 33, 1);
  --line-height: 1.1;
  --color:rgba(33, 150, 243, 1);
}
body {
  font-style: normal;
  font-family: 'Roboto', 'Arial', sans-serif;
  color:var(--brand-color);
 
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
 }

 ul{
  list-style: none;
  text-decoration: none;
 }
 h2{
  text-align: center;
 }

.page-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap:  100px; 
height: 80px;

top: 0px;

background: #FFFFFF;

}
.nav {
   display: flex;
   align-items: center;
   list-style: none;
}
.items {
 display: flex;
 gap: 40px;}
 .nav:hover {
  text-decoration: underline;
 text-decoration-color: var(--color);
}
.itemm{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 40px;
}
.itemm{
  list-style: none;
}
 .web{
  color:var(--color);
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: var(--line-height);
width: 145px;

left: 215px;  
top: 24px;
}



 
  
  
p{
  text-decoration: none;
}



.current {
  
  color: var(--color)}
.current:hover{
  text-decoration: underline;
}
.box {
  background: rgba(47, 48, 58, 1);
height: 600px;



}
.box-title {
  position: absolute;
  align-items: center;
width: 696px;
height: 120px;
left: 448px;
top: 290px;
  font-weight: 900;
  font-size: 44px;
  line-height:var(--line-height);
  text-transform: uppercase;

  color: rgba(255, 255, 255, 1);
  text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

}


.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  gap: 10px;
  
  position: absolute;
  width: 261px;
  height: 50px;
  left: 666px;
  top: 430px;

  background: var(--color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: rgba(255, 255, 255, 1);
}
 
  .post{
    display: flex;
    justify-content: center;
    gap: 30px;
    
    

  }
  .post-inf{
   justify-content: center;
   align-items: center;
   gap: 30px;
   text-align: center;
  }

  .service {
    background: rgba(245, 244, 250, 1);
  
  }
  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
 
.info-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: var(--line-height);
  color: var(--brand-color);

}

.imagess{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

}


h3{
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: var(--line-height);
  text-transform: uppercase;

  color: var(--brand-color);
}
.p {

  font-size: 14px;
  line-height: 1.7;
  color:  rgba(117, 117, 117, 1);

}

.card{ 
background: #FFFFFF;
border: solid 1px #FFFFFF ;
/* material shadow v1 */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}
.service{
  height: 648px;
background: #F5F4FA;
}
.service-title {
  font-weight: 700;
  font-size: 36px;
  line-height: var(--line-height);
  color:var(--brand-color) ;
}
.sevice-namber {
  color: var(--brand-color);
}

.service-text {
  text-align: center;
  font-size: 16px;
  line-height:var(--line-height);
  color:  rgba(117, 117, 117, 1);


}

.footer {
  background: rgba(47, 48, 58, 1);
  height: 252px;
  
}

.address {
  color:  rgba(255, 255, 255, 1);
}
.info {
  color: rgba(255, 255, 255, 0.6);


}
  
/* css portafolio */

.link  {
  font-weight: 500;
  font-size: 14px;
  line-height: var(--line-height);
  letter-spacing: 0.02em;
  list-style: none;
  text-decoration: none;
}
.list{
  list-style: none;
 text-decoration: none;
}


.link:hover{ 
  
  text-decoration:underline ;
  text-decoration-color: var(--color);}

.study {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: var(--line-height);
  text-decoration: none;
  color:var(--color);
}

.buttonp {
font-weight: 500;
font-size: 16px;
line-height: 1.6;
letter-spacing: 0.03em;

color: var(--brand-color);

}

.buttonp:hover{
  cursor: pointer;
text-decoration: underline;
text-decoration-color: var(--color); 
}
.color 
{
  background-color: var(--color);
}
.color:hover{
  cursor: pointer;
border-color:var(--color);  
}

.efect:hover{
 border-color: var(--color);
}
 
.active :active{
  background: rgba(245, 244, 250, 1);

}


.efect:active{
  background: rgb(120, 120, 121);

  
}
.efect:focus{ 
  background: rgba(245, 244, 250, 1);
}
.display{
  display: flex;
  justify-content: center;
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}
.display-card{
  display: flex;
  justify-content:center;
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
   flex-wrap: wrap;

}
.cards{
  background: #FFFFFF;
border: 1px solid #EEEEEE;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}
.image:hover{
  border: 1px solid;
border-color:  var(--color);
}
.title:hover{
  text-decoration: underline;
text-decoration-color:var(--color); 
}
.text:hover{
  text-decoration: underline;
text-decoration-color: var(--color); 
}
.section { display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color);
  
}

.text {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;

  color: #757575;
}
 .web-footer {

  font-family: "Raleway";
  
  font-weight: 700;
  font-size: 26px;
  line-height: var(--line-height);
  text-decoration: none;
  color: var(--color);
 }
 .footer-address {
  color: #ffffff;

 }
.info-address {
  color: rgba(255, 255, 255, 0.6);
}